extends ../layout

block content
	.row.justify-content-md-center
		h6.display-heading Contract Address:
			a(href="https://rinkeby.etherscan.io/tx/#{contract.address}")= contract.address
	.row
		.col-md-3
			h4.display-heading Constructor
			ul.list-group
				each method in init
					li.list-group-item
						a.sc-constructor(href="#")= method.type
			h4.display-heading Functions
			ul.list-group
				each method in methods
					li.list-group-item
						a.sc-action(href="#")= method.name
			h4.display-heading Variables
			ul.list-group
				each variable in variables
					li.list-group-item
						a.sc-variable(href="#")= variable.name
			h4.display-heading Events
			ul.list-group
				each event in events
					li.list-group-item
						a.sc-event(href="#")= event.name
		.col-md-9
			#input-form
			#transaction-hash
			#transaction-details
			#event-details
			#output

	script#transaction-hash-template(type='text/html').
		<div id="transaction-hash-container">
			<h4 class="display-heading">Transaction Hash</h4>
			<a target="_blank" href="https://rinkeby.etherscan.io/tx/<%- hash %>"><%- hash %></a>
		</div>

	script#transaction-details-template(type='text/html').
		<div id="transaction-container">
			<h4 class="display-heading">Transaction Details</h4>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th scope="row">Status</th>
						<td><%- receipt.status %></td>
					</tr>
					<tr>
						<th scope="row">Transaction Hash</th>
						<td><%- receipt.transactionHash %></td>
					</tr>
					<tr>
						<th scope="row">From</th>
						<td><%- receipt.from %></td>
					</tr>
					<tr>
						<th scope="row">To</th>
						<td><%- receipt.to %></td>
					</tr>
					<tr>
						<th scope="row">Gas</th>
						<td><%- receipt.gasUsed %></td>
					</tr>
					<tr>
						<th scope="row">Transaction Cost</th>
						<td><%- receipt.cumulativeGasUsed %></td>
					</tr>
					<tr>
						<th scope="row">Input</th>
						<td><%- inputData %></td>
					</tr>
					<tr>
						<th scope="row" colspan="1">Value</th>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>

	script#output-template(type='text/html').
		<h6>Output</h6>
		<div class="form-group">
			<input class="form-control" value="<%- result %>" disabled>
		</div>

	script#inputlist(type='text/html').
		<h4 class="display-heading"><%- action %></h4>
		<form id="input-params" method="POST">
			<% if (inputs.length > 0 && typeof(inputs) !== "undefined") { %>
				<h6>Input</h6>
				<% _.forEach(inputs, function(input) { %>
					<div class="form-group">
						<label for="<%- input.name %>"><%- input.name %> (<%- input.type %>)</label>
						<input class="form-control" name="<%- input.name %>">
					</div>
				<% }); %>
			<% } %>
			<% if (payable) { %>
				<h6>Send Ether (Payable)</h6>
				<div class="form-group">
					<label for="ether">Ethereum</label>
					<input class="form-control" name="ethereum">
				</div>
			<% } %>
			<button type="submit" class="btn btn-primary send-transaction" rel="<%- action %>">Transact</button>
		</form>

	script#event-list-template(type='text/html').
		<h4 class="display-heading">Events</h4>
		<% _.forEach(events, function(eventDetails) { %>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" colspan="2"><%- eventDetails.name %></th>
					</tr>
				</thead>
				<tbody>
				<% _.forEach(eventDetails.events, function(eventItem) { %>
					<tr>
						<th scope="row"><%- eventItem.name %> (<%- eventItem.type %>)</th>
						<td><%- eventItem.value %></td>
					</tr>
				<% }); %>
				</tbody>
			</table>
		<% }); %>


	script#past-events-template(type='text/html').
		<h4 class="display-heading">Past Events - <%- eventName %></h4>
		<% _.forEach(events, function(eventDetails) { %>
			<table class="table table-bordered">
				<tbody>
				<tr>
					<th scope="row">Retruned Value</th>
					<td><%- JSON.stringify(eventDetails.returnValues) %></td>
				</tr>
				<tr>
					<th scope="row">Transaction Hash</th>
					<td><%- eventDetails.transactionHash %></td>
				</tr>
				</tbody>
			</table>
		<% }); %>

	script(type='text/javascript').
		const contractAbi = JSON.parse(!{JSON.stringify(contract.abi)})
		const contractAddress = "#{contract.address}"


