extends ../layout

block content
	.row.justify-content-md-center
		h6.display-heading Transactions for Contract Address:
			a(href=`https://rinkeby.etherscan.io/address/${contract.address}`)= contract.address

	.row
		.col-md-12
			table.table.table-striped
				thead.thead-dark
					tr
						th(scope='col') TxHash
						th(scope='col') From
						th(scope='col') Value
						th(scope='col') Fee
						th(scope='col') Timestamp
				tbody
					each transaction in transactions
						tr
							th(scope='row')
								a(href=`https://rinkeby.etherscan.io/tx/${transaction.hash}`) #{transaction.hash}
							td
								a(href=`https://rinkeby.etherscan.io/address/${transaction.from}`) #{transaction.from}
							td #{transaction.value}
							td #{transaction.gasUsed}
							td #{moment.unix(transaction.timeStamp).fromNow()}


		script(type='text/javascript').
			const contractAbi = JSON.parse(!{JSON.stringify(contract.abi)})
			const contractAddress = "#{contract.address}"


